In [192]:
import pandas as pd
import numpy as np

In [193]:
df = pd.read_excel("GoogLeNet.xls")

In [194]:
df

,task,c_task,dir_succ,dir_succ_add,p0,p1,p2,p3,pc00,pc01,...,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3,shape
0,input,NaN,conv1_conv,conv1_conv,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63541248.0,62581760.0,29089792.0,26926080.0,"(1, 1, 96, 96)"
1,conv1_conv,conv1_conv_2_conv1_relu,conv1_relu,"conv1_relu, conv1_conv_2_conv1_relu",0.014,0.044,0.045,0.022,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
2,conv1_relu,conv1_relu_2_maxpool1,maxpool1,"maxpool1, conv1_relu_2_maxpool1",0.002,0.005,0.006,0.004,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
3,maxpool1,maxpool1_2_conv2_conv,conv2_conv,"conv2_conv, maxpool1_2_conv2_conv",0.004,0.009,0.009,0.005,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
4,conv2_conv,conv2_conv_2_conv2_relu,conv2_relu,"conv2_relu, conv2_conv_2_conv2_relu",0.008,0.019,0.020,0.012,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,cat_8,cat_8_2_avgpool,avgpool,"avgpool, cat_8_2_avgpool",0.003,0.007,0.006,0.003,0.0,0.003160,...,0.000301,0.005867,0.003437,0.0,288.0,NaN,NaN,NaN,NaN,"(1, 1024, 3, 3)"
137,avgpool,avgpool_2_flatten,flatten,"flatten, avgpool_2_flatten",0.003,0.006,0.006,0.003,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024, 1, 1)"
138,flatten,flatten_2_dropout,dropout,"dropout, flatten_2_dropout",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
139,dropout,dropout_2_fc,fc,"fc, dropout_2_fc",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
140,fc,NaN,NaN,NaN,0.008,0.025,0.024,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1, 1000)"

In [195]:
tasks = list(df['task'])

In [196]:
temp = []

In [197]:
tasks

['input',
 'conv1_conv',
 'conv1_relu',
 'maxpool1',
 'conv2_conv',
 'conv2_relu',
 'conv3_conv',
 'conv3_relu',
 'maxpool2',
 'inception3a_branch1_conv',
 'inception3a_branch1_relu',
 'inception3a_branch2_0_conv',
 'inception3a_branch2_0_relu',
 'inception3a_branch2_1_conv',
 'inception3a_branch2_1_relu',
 'inception3a_branch3_0_conv',
 'inception3a_branch3_0_relu',
 'inception3a_branch3_1_conv',
 'inception3a_branch3_1_relu',
 'inception3a_branch4_0',
 'inception3a_branch4_1_conv',
 'inception3a_branch4_1_relu',
 'cat',
 'inception3b_branch1_conv',
 'inception3b_branch1_relu',
 'inception3b_branch2_0_conv',
 'inception3b_branch2_0_relu',
 'inception3b_branch2_1_conv',
 'inception3b_branch2_1_relu',
 'inception3b_branch3_0_conv',
 'inception3b_branch3_0_relu',
 'inception3b_branch3_1_conv',
 'inception3b_branch3_1_relu',
 'inception3b_branch4_0',
 'inception3b_branch4_1_conv',
 'inception3b_branch4_1_relu',
 'cat_1',
 'maxpool3',
 'inception4a_branch1_conv',
 'inception4a_branch1_relu',
 'inception4a_branch2_0_conv',
 'inception4a_branch2_0_relu',
 'inception4a_branch2_1_conv',
 'inception4a_branch2_1_relu',
 'inception4a_branch3_0_conv',
 'inception4a_branch3_0_relu',
 'inception4a_branch3_1_conv',
 'inception4a_branch3_1_relu',
 'inception4a_branch4_0',
 'inception4a_branch4_1_conv',
 'inception4a_branch4_1_relu',
 'cat_2',
 'inception4b_branch1_conv',
 'inception4b_branch1_relu',
 'inception4b_branch2_0_conv',
 'inception4b_branch2_0_relu',
 'inception4b_branch2_1_conv',
 'inception4b_branch2_1_relu',
 'inception4b_branch3_0_conv',
 'inception4b_branch3_0_relu',
 'inception4b_branch3_1_conv',
 'inception4b_branch3_1_relu',
 'inception4b_branch4_0',
 'inception4b_branch4_1_conv',
 'inception4b_branch4_1_relu',
 'cat_3',
 'inception4c_branch1_conv',
 'inception4c_branch1_relu',
 'inception4c_branch2_0_conv',
 'inception4c_branch2_0_relu',
 'inception4c_branch2_1_conv',
 'inception4c_branch2_1_relu',
 'inception4c_branch3_0_conv',
 'inception4c_branch3_0_relu',
 'inception4c_branch3_1_conv',
 'inception4c_branch3_1_relu',
 'inception4c_branch4_0',
 'inception4c_branch4_1_conv',
 'inception4c_branch4_1_relu',
 'cat_4',
 'inception4d_branch1_conv',
 'inception4d_branch1_relu',
 'inception4d_branch2_0_conv',
 'inception4d_branch2_0_relu',
 'inception4d_branch2_1_conv',
 'inception4d_branch2_1_relu',
 'inception4d_branch3_0_conv',
 'inception4d_branch3_0_relu',
 'inception4d_branch3_1_conv',
 'inception4d_branch3_1_relu',
 'inception4d_branch4_0',
 'inception4d_branch4_1_conv',
 'inception4d_branch4_1_relu',
 'cat_5',
 'inception4e_branch1_conv',
 'inception4e_branch1_relu',
 'inception4e_branch2_0_conv',
 'inception4e_branch2_0_relu',
 'inception4e_branch2_1_conv',
 'inception4e_branch2_1_relu',
 'inception4e_branch3_0_conv',
 'inception4e_branch3_0_relu',
 'inception4e_branch3_1_conv',
 'inception4e_branch3_1_relu',
 'inception4e_branch4_0',
 'inception4e_branch4_1_conv',
 'inception4e_branch4_1_relu',
 'cat_6',
 'maxpool4',
 'inception5a_branch1_conv',
 'inception5a_branch1_relu',
 'inception5a_branch2_0_conv',
 'inception5a_branch2_0_relu',
 'inception5a_branch2_1_conv',
 'inception5a_branch2_1_relu',
 'inception5a_branch3_0_conv',
 'inception5a_branch3_0_relu',
 'inception5a_branch3_1_conv',
 'inception5a_branch3_1_relu',
 'inception5a_branch4_0',
 'inception5a_branch4_1_conv',
 'inception5a_branch4_1_relu',
 'cat_7',
 'inception5b_branch1_conv',
 'inception5b_branch1_relu',
 'inception5b_branch2_0_conv',
 'inception5b_branch2_0_relu',
 'inception5b_branch2_1_conv',
 'inception5b_branch2_1_relu',
 'inception5b_branch3_0_conv',
 'inception5b_branch3_0_relu',
 'inception5b_branch3_1_conv',
 'inception5b_branch3_1_relu',
 'inception5b_branch4_0',
 'inception5b_branch4_1_conv',
 'inception5b_branch4_1_relu',
 'cat_8',
 'avgpool',
 'flatten',
 'dropout',
 'fc']

In [198]:
for i, v in enumerate(list(df['c_task'])):
    temp.append(tasks[i])
    if type(v) == float:
        continue
    elif "," in v:
        temp.extend(v.split(","))
    else:
        temp.append(v)

In [199]:
temp

['input',
 'conv1_conv',
 'conv1_conv_2_conv1_relu',
 'conv1_relu',
 'conv1_relu_2_maxpool1',
 'maxpool1',
 'maxpool1_2_conv2_conv',
 'conv2_conv',
 'conv2_conv_2_conv2_relu',
 'conv2_relu',
 'conv2_relu_2_conv3_conv',
 'conv3_conv',
 'conv3_conv_2_conv3_relu',
 'conv3_relu',
 'conv3_relu_2_maxpool2',
 'maxpool2',
 'maxpool2_2_inception3a_branch1_conv',
 'maxpool2_2_inception3a_branch2_0_conv',
 'maxpool2_2_inception3a_branch3_0_conv',
 'maxpool2_2_inception3a_branch4_0',
 'inception3a_branch1_conv',
 'inception3a_branch1_conv_2_inception3a_branch1_relu',
 'inception3a_branch1_relu',
 'inception3a_branch1_relu_2_cat',
 'inception3a_branch2_0_conv',
 'inception3a_branch2_0_conv_2_inception3a_branch2_0_relu',
 'inception3a_branch2_0_relu',
 'inception3a_branch2_0_relu_2_inception3a_branch2_1_conv',
 'inception3a_branch2_1_conv',
 'inception3a_branch2_1_conv_2_inception3a_branch2_1_relu',
 'inception3a_branch2_1_relu',
 'inception3a_branch2_1_relu_2_cat',
 'inception3a_branch3_0_conv',
 'inception3a_branch3_0_conv_2_inception3a_branch3_0_relu',
 'inception3a_branch3_0_relu',
 'inception3a_branch3_0_relu_2_inception3a_branch3_1_conv',
 'inception3a_branch3_1_conv',
 'inception3a_branch3_1_conv_2_inception3a_branch3_1_relu',
 'inception3a_branch3_1_relu',
 'inception3a_branch3_1_relu_2_cat',
 'inception3a_branch4_0',
 'inception3a_branch4_0_2_inception3a_branch4_1_conv',
 'inception3a_branch4_1_conv',
 'inception3a_branch4_1_conv_2_inception3a_branch4_1_relu',
 'inception3a_branch4_1_relu',
 'inception3a_branch4_1_relu_2_cat',
 'cat',
 'cat_2_inception3b_branch1_conv',
 'cat_2_inception3b_branch2_0_conv',
 'cat_2_inception3b_branch3_0_conv',
 'cat_2_inception3b_branch4_0',
 'inception3b_branch1_conv',
 'inception3b_branch1_conv_2_inception3b_branch1_relu',
 'inception3b_branch1_relu',
 'inception3b_branch1_relu_2_cat_1',
 'inception3b_branch2_0_conv',
 'inception3b_branch2_0_conv_2_inception3b_branch2_0_relu',
 'inception3b_branch2_0_relu',
 'inception3b_branch2_0_relu_2_inception3b_branch2_1_conv',
 'inception3b_branch2_1_conv',
 'inception3b_branch2_1_conv_2_inception3b_branch2_1_relu',
 'inception3b_branch2_1_relu',
 'inception3b_branch2_1_relu_2_cat_1',
 'inception3b_branch3_0_conv',
 'inception3b_branch3_0_conv_2_inception3b_branch3_0_relu',
 'inception3b_branch3_0_relu',
 'inception3b_branch3_0_relu_2_inception3b_branch3_1_conv',
 'inception3b_branch3_1_conv',
 'inception3b_branch3_1_conv_2_inception3b_branch3_1_relu',
 'inception3b_branch3_1_relu',
 'inception3b_branch3_1_relu_2_cat_1',
 'inception3b_branch4_0',
 'inception3b_branch4_0_2_inception3b_branch4_1_conv',
 'inception3b_branch4_1_conv',
 'inception3b_branch4_1_conv_2_inception3b_branch4_1_relu',
 'inception3b_branch4_1_relu',
 'inception3b_branch4_1_relu_2_cat_1',
 'cat_1',
 'cat_1_2_maxpool3',
 'maxpool3',
 'maxpool3_2_inception4a_branch1_conv',
 'maxpool3_2_inception4a_branch2_0_conv',
 'maxpool3_2_inception4a_branch3_0_conv',
 'maxpool3_2_inception4a_branch4_0',
 'inception4a_branch1_conv',
 'inception4a_branch1_conv_2_inception4a_branch1_relu',
 'inception4a_branch1_relu',
 'inception4a_branch1_relu_2_cat_2',
 'inception4a_branch2_0_conv',
 'inception4a_branch2_0_conv_2_inception4a_branch2_0_relu',
 'inception4a_branch2_0_relu',
 'inception4a_branch2_0_relu_2_inception4a_branch2_1_conv',
 'inception4a_branch2_1_conv',
 'inception4a_branch2_1_conv_2_inception4a_branch2_1_relu',
 'inception4a_branch2_1_relu',
 'inception4a_branch2_1_relu_2_cat_2',
 'inception4a_branch3_0_conv',
 'inception4a_branch3_0_conv_2_inception4a_branch3_0_relu',
 'inception4a_branch3_0_relu',
 'inception4a_branch3_0_relu_2_inception4a_branch3_1_conv',
 'inception4a_branch3_1_conv',
 'inception4a_branch3_1_conv_2_inception4a_branch3_1_relu',
 'inception4a_branch3_1_relu',
 'inception4a_branch3_1_relu_2_cat_2',
 'inception4a_branch4_0',
 'inception4a_branch4_0_2_inception4a_branch4_1_conv',
 'inception4a_branch4_1_conv',
 'inception4a_branch4_1_conv_2_inception4a_branch4_1_relu',
 'inception4a_branch4_1_relu',
 'inception4a_branch4_1_relu_2_cat_2',
 'cat_2',
 'cat_2_2_inception4b_branch1_conv',
 'cat_2_2_inception4b_branch2_0_conv',
 'cat_2_2_inception4b_branch3_0_conv',
 'cat_2_2_inception4b_branch4_0',
 'inception4b_branch1_conv',
 'inception4b_branch1_conv_2_inception4b_branch1_relu',
 'inception4b_branch1_relu',
 'inception4b_branch1_relu_2_cat_3',
 'inception4b_branch2_0_conv',
 'inception4b_branch2_0_conv_2_inception4b_branch2_0_relu',
 'inception4b_branch2_0_relu',
 'inception4b_branch2_0_relu_2_inception4b_branch2_1_conv',
 'inception4b_branch2_1_conv',
 'inception4b_branch2_1_conv_2_inception4b_branch2_1_relu',
 'inception4b_branch2_1_relu',
 'inception4b_branch2_1_relu_2_cat_3',
 'inception4b_branch3_0_conv',
 'inception4b_branch3_0_conv_2_inception4b_branch3_0_relu',
 'inception4b_branch3_0_relu',
 'inception4b_branch3_0_relu_2_inception4b_branch3_1_conv',
 'inception4b_branch3_1_conv',
 'inception4b_branch3_1_conv_2_inception4b_branch3_1_relu',
 'inception4b_branch3_1_relu',
 'inception4b_branch3_1_relu_2_cat_3',
 'inception4b_branch4_0',
 'inception4b_branch4_0_2_inception4b_branch4_1_conv',
 'inception4b_branch4_1_conv',
 'inception4b_branch4_1_conv_2_inception4b_branch4_1_relu',
 'inception4b_branch4_1_relu',
 'inception4b_branch4_1_relu_2_cat_3',
 'cat_3',
 'cat_3_2_inception4c_branch1_conv',
 'cat_3_2_inception4c_branch2_0_conv',
 'cat_3_2_inception4c_branch3_0_conv',
 'cat_3_2_inception4c_branch4_0',
 'inception4c_branch1_conv',
 'inception4c_branch1_conv_2_inception4c_branch1_relu',
 'inception4c_branch1_relu',
 'inception4c_branch1_relu_2_cat_4',
 'inception4c_branch2_0_conv',
 'inception4c_branch2_0_conv_2_inception4c_branch2_0_relu',
 'inception4c_branch2_0_relu',
 'inception4c_branch2_0_relu_2_inception4c_branch2_1_conv',
 'inception4c_branch2_1_conv',
 'inception4c_branch2_1_conv_2_inception4c_branch2_1_relu',
 'inception4c_branch2_1_relu',
 'inception4c_branch2_1_relu_2_cat_4',
 'inception4c_branch3_0_conv',
 'inception4c_branch3_0_conv_2_inception4c_branch3_0_relu',
 'inception4c_branch3_0_relu',
 'inception4c_branch3_0_relu_2_inception4c_branch3_1_conv',
 'inception4c_branch3_1_conv',
 'inception4c_branch3_1_conv_2_inception4c_branch3_1_relu',
 'inception4c_branch3_1_relu',
 'inception4c_branch3_1_relu_2_cat_4',
 'inception4c_branch4_0',
 'inception4c_branch4_0_2_inception4c_branch4_1_conv',
 'inception4c_branch4_1_conv',
 'inception4c_branch4_1_conv_2_inception4c_branch4_1_relu',
 'inception4c_branch4_1_relu',
 'inception4c_branch4_1_relu_2_cat_4',
 'cat_4',
 'cat_4_2_inception4d_branch1_conv',
 'cat_4_2_inception4d_branch2_0_conv',
 'cat_4_2_inception4d_branch3_0_conv',
 'cat_4_2_inception4d_branch4_0',
 'inception4d_branch1_conv',
 'inception4d_branch1_conv_2_inception4d_branch1_relu',
 'inception4d_branch1_relu',
 'inception4d_branch1_relu_2_cat_5',
 'inception4d_branch2_0_conv',
 'inception4d_branch2_0_conv_2_inception4d_branch2_0_relu',
 'inception4d_branch2_0_relu',
 'inception4d_branch2_0_relu_2_inception4d_branch2_1_conv',
 'inception4d_branch2_1_conv',
 'inception4d_branch2_1_conv_2_inception4d_branch2_1_relu',
 'inception4d_branch2_1_relu',
 'inception4d_branch2_1_relu_2_cat_5',
 'inception4d_branch3_0_conv',
 'inception4d_branch3_0_conv_2_inception4d_branch3_0_relu',
 'inception4d_branch3_0_relu',
 'inception4d_branch3_0_relu_2_inception4d_branch3_1_conv',
 'inception4d_branch3_1_conv',
 'inception4d_branch3_1_conv_2_inception4d_branch3_1_relu',
 'inception4d_branch3_1_relu',
 'inception4d_branch3_1_relu_2_cat_5',
 'inception4d_branch4_0',
 'inception4d_branch4_0_2_inception4d_branch4_1_conv',
 'inception4d_branch4_1_conv',
 'inception4d_branch4_1_conv_2_inception4d_branch4_1_relu',
 'inception4d_branch4_1_relu',
 'inception4d_branch4_1_relu_2_cat_5',
 'cat_5',
 'cat_5_2_inception4e_branch1_conv',
 'cat_5_2_inception4e_branch2_0_conv',
 'cat_5_2_inception4e_branch3_0_conv',
 'cat_5_2_inception4e_branch4_0',
 'inception4e_branch1_conv',
 'inception4e_branch1_conv_2_inception4e_branch1_relu',
 'inception4e_branch1_relu',
 'inception4e_branch1_relu_2_cat_6',
 'inception4e_branch2_0_conv',
 'inception4e_branch2_0_conv_2_inception4e_branch2_0_relu',
 'inception4e_branch2_0_relu',
 'inception4e_branch2_0_relu_2_inception4e_branch2_1_conv',
 'inception4e_branch2_1_conv',
 'inception4e_branch2_1_conv_2_inception4e_branch2_1_relu',
 'inception4e_branch2_1_relu',
 'inception4e_branch2_1_relu_2_cat_6',
 'inception4e_branch3_0_conv',
 'inception4e_branch3_0_conv_2_inception4e_branch3_0_relu',
 'inception4e_branch3_0_relu',
 'inception4e_branch3_0_relu_2_inception4e_branch3_1_conv',
 'inception4e_branch3_1_conv',
 'inception4e_branch3_1_conv_2_inception4e_branch3_1_relu',
 'inception4e_branch3_1_relu',
 'inception4e_branch3_1_relu_2_cat_6',
 'inception4e_branch4_0',
 'inception4e_branch4_0_2_inception4e_branch4_1_conv',
 'inception4e_branch4_1_conv',
 'inception4e_branch4_1_conv_2_inception4e_branch4_1_relu',
 'inception4e_branch4_1_relu',
 'inception4e_branch4_1_relu_2_cat_6',
 'cat_6',
 'cat_6_2_maxpool4',
 'maxpool4',
 'maxpool4_2_inception5a_branch1_conv',
 'maxpool4_2_inception5a_branch2_0_conv',
 'maxpool4_2_inception5a_branch3_0_conv',
 'maxpool4_2_inception5a_branch4_0',
 'inception5a_branch1_conv',
 'inception5a_branch1_conv_2_inception5a_branch1_relu',
 'inception5a_branch1_relu',
 'inception5a_branch1_relu_2_cat_7',
 'inception5a_branch2_0_conv',
 'inception5a_branch2_0_conv_2_inception5a_branch2_0_relu',
 'inception5a_branch2_0_relu',
 'inception5a_branch2_0_relu_2_inception5a_branch2_1_conv',
 'inception5a_branch2_1_conv',
 'inception5a_branch2_1_conv_2_inception5a_branch2_1_relu',
 'inception5a_branch2_1_relu',
 'inception5a_branch2_1_relu_2_cat_7',
 'inception5a_branch3_0_conv',
 'inception5a_branch3_0_conv_2_inception5a_branch3_0_relu',
 'inception5a_branch3_0_relu',
 'inception5a_branch3_0_relu_2_inception5a_branch3_1_conv',
 'inception5a_branch3_1_conv',
 'inception5a_branch3_1_conv_2_inception5a_branch3_1_relu',
 'inception5a_branch3_1_relu',
 'inception5a_branch3_1_relu_2_cat_7',
 'inception5a_branch4_0',
 'inception5a_branch4_0_2_inception5a_branch4_1_conv',
 'inception5a_branch4_1_conv',
 'inception5a_branch4_1_conv_2_inception5a_branch4_1_relu',
 'inception5a_branch4_1_relu',
 'inception5a_branch4_1_relu_2_cat_7',
 'cat_7',
 'cat_7_2_inception5b_branch1_conv',
 'cat_7_2_inception5b_branch2_0_conv',
 'cat_7_2_inception5b_branch3_0_conv',
 'cat_7_2_inception5b_branch4_0',
 'inception5b_branch1_conv',
 'inception5b_branch1_conv_2_inception5b_branch1_relu',
 'inception5b_branch1_relu',
 'inception5b_branch1_relu_2_cat_8',
 'inception5b_branch2_0_conv',
 'inception5b_branch2_0_conv_2_inception5b_branch2_0_relu',
 'inception5b_branch2_0_relu',
 'inception5b_branch2_0_relu_2_inception5b_branch2_1_conv',
 'inception5b_branch2_1_conv',
 'inception5b_branch2_1_conv_2_inception5b_branch2_1_relu',
 'inception5b_branch2_1_relu',
 'inception5b_branch2_1_relu_2_cat_8',
 'inception5b_branch3_0_conv',
 'inception5b_branch3_0_conv_2_inception5b_branch3_0_relu',
 'inception5b_branch3_0_relu',
 'inception5b_branch3_0_relu_2_inception5b_branch3_1_conv',
 'inception5b_branch3_1_conv',
 'inception5b_branch3_1_conv_2_inception5b_branch3_1_relu',
 'inception5b_branch3_1_relu',
 'inception5b_branch3_1_relu_2_cat_8',
 'inception5b_branch4_0',
 'inception5b_branch4_0_2_inception5b_branch4_1_conv',
 'inception5b_branch4_1_conv',
 'inception5b_branch4_1_conv_2_inception5b_branch4_1_relu',
 'inception5b_branch4_1_relu',
 'inception5b_branch4_1_relu_2_cat_8',
 'cat_8',
 'cat_8_2_avgpool',
 'avgpool',
 'avgpool_2_flatten',
 'flatten',
 'flatten_2_dropout',
 'dropout',
 'dropout_2_fc',
 'fc']

In [200]:
name_map = {}

In [201]:
for i, v in enumerate(temp):
    name_map[v] = i

In [202]:
name_map

{'input': 0,
 'conv1_conv': 1,
 'conv1_conv_2_conv1_relu': 2,
 'conv1_relu': 3,
 'conv1_relu_2_maxpool1': 4,
 'maxpool1': 5,
 'maxpool1_2_conv2_conv': 6,
 'conv2_conv': 7,
 'conv2_conv_2_conv2_relu': 8,
 'conv2_relu': 9,
 'conv2_relu_2_conv3_conv': 10,
 'conv3_conv': 11,
 'conv3_conv_2_conv3_relu': 12,
 'conv3_relu': 13,
 'conv3_relu_2_maxpool2': 14,
 'maxpool2': 15,
 'maxpool2_2_inception3a_branch1_conv': 16,
 'maxpool2_2_inception3a_branch2_0_conv': 17,
 'maxpool2_2_inception3a_branch3_0_conv': 18,
 'maxpool2_2_inception3a_branch4_0': 19,
 'inception3a_branch1_conv': 20,
 'inception3a_branch1_conv_2_inception3a_branch1_relu': 21,
 'inception3a_branch1_relu': 22,
 'inception3a_branch1_relu_2_cat': 23,
 'inception3a_branch2_0_conv': 24,
 'inception3a_branch2_0_conv_2_inception3a_branch2_0_relu': 25,
 'inception3a_branch2_0_relu': 26,
 'inception3a_branch2_0_relu_2_inception3a_branch2_1_conv': 27,
 'inception3a_branch2_1_conv': 28,
 'inception3a_branch2_1_conv_2_inception3a_branch2_1_relu': 29,
 'inception3a_branch2_1_relu': 30,
 'inception3a_branch2_1_relu_2_cat': 31,
 'inception3a_branch3_0_conv': 32,
 'inception3a_branch3_0_conv_2_inception3a_branch3_0_relu': 33,
 'inception3a_branch3_0_relu': 34,
 'inception3a_branch3_0_relu_2_inception3a_branch3_1_conv': 35,
 'inception3a_branch3_1_conv': 36,
 'inception3a_branch3_1_conv_2_inception3a_branch3_1_relu': 37,
 'inception3a_branch3_1_relu': 38,
 'inception3a_branch3_1_relu_2_cat': 39,
 'inception3a_branch4_0': 40,
 'inception3a_branch4_0_2_inception3a_branch4_1_conv': 41,
 'inception3a_branch4_1_conv': 42,
 'inception3a_branch4_1_conv_2_inception3a_branch4_1_relu': 43,
 'inception3a_branch4_1_relu': 44,
 'inception3a_branch4_1_relu_2_cat': 45,
 'cat': 46,
 'cat_2_inception3b_branch1_conv': 47,
 'cat_2_inception3b_branch2_0_conv': 48,
 'cat_2_inception3b_branch3_0_conv': 49,
 'cat_2_inception3b_branch4_0': 50,
 'inception3b_branch1_conv': 51,
 'inception3b_branch1_conv_2_inception3b_branch1_relu': 52,
 'inception3b_branch1_relu': 53,
 'inception3b_branch1_relu_2_cat_1': 54,
 'inception3b_branch2_0_conv': 55,
 'inception3b_branch2_0_conv_2_inception3b_branch2_0_relu': 56,
 'inception3b_branch2_0_relu': 57,
 'inception3b_branch2_0_relu_2_inception3b_branch2_1_conv': 58,
 'inception3b_branch2_1_conv': 59,
 'inception3b_branch2_1_conv_2_inception3b_branch2_1_relu': 60,
 'inception3b_branch2_1_relu': 61,
 'inception3b_branch2_1_relu_2_cat_1': 62,
 'inception3b_branch3_0_conv': 63,
 'inception3b_branch3_0_conv_2_inception3b_branch3_0_relu': 64,
 'inception3b_branch3_0_relu': 65,
 'inception3b_branch3_0_relu_2_inception3b_branch3_1_conv': 66,
 'inception3b_branch3_1_conv': 67,
 'inception3b_branch3_1_conv_2_inception3b_branch3_1_relu': 68,
 'inception3b_branch3_1_relu': 69,
 'inception3b_branch3_1_relu_2_cat_1': 70,
 'inception3b_branch4_0': 71,
 'inception3b_branch4_0_2_inception3b_branch4_1_conv': 72,
 'inception3b_branch4_1_conv': 73,
 'inception3b_branch4_1_conv_2_inception3b_branch4_1_relu': 74,
 'inception3b_branch4_1_relu': 75,
 'inception3b_branch4_1_relu_2_cat_1': 76,
 'cat_1': 77,
 'cat_1_2_maxpool3': 78,
 'maxpool3': 79,
 'maxpool3_2_inception4a_branch1_conv': 80,
 'maxpool3_2_inception4a_branch2_0_conv': 81,
 'maxpool3_2_inception4a_branch3_0_conv': 82,
 'maxpool3_2_inception4a_branch4_0': 83,
 'inception4a_branch1_conv': 84,
 'inception4a_branch1_conv_2_inception4a_branch1_relu': 85,
 'inception4a_branch1_relu': 86,
 'inception4a_branch1_relu_2_cat_2': 87,
 'inception4a_branch2_0_conv': 88,
 'inception4a_branch2_0_conv_2_inception4a_branch2_0_relu': 89,
 'inception4a_branch2_0_relu': 90,
 'inception4a_branch2_0_relu_2_inception4a_branch2_1_conv': 91,
 'inception4a_branch2_1_conv': 92,
 'inception4a_branch2_1_conv_2_inception4a_branch2_1_relu': 93,
 'inception4a_branch2_1_relu': 94,
 'inception4a_branch2_1_relu_2_cat_2': 95,
 'inception4a_branch3_0_conv': 96,
 'inception4a_branch3_0_conv_2_inception4a_branch3_0_relu': 97,
 'inception4a_branch3_0_relu': 98,
 'inception4a_branch3_0_relu_2_inception4a_branch3_1_conv': 99,
 'inception4a_branch3_1_conv': 100,
 'inception4a_branch3_1_conv_2_inception4a_branch3_1_relu': 101,
 'inception4a_branch3_1_relu': 102,
 'inception4a_branch3_1_relu_2_cat_2': 103,
 'inception4a_branch4_0': 104,
 'inception4a_branch4_0_2_inception4a_branch4_1_conv': 105,
 'inception4a_branch4_1_conv': 106,
 'inception4a_branch4_1_conv_2_inception4a_branch4_1_relu': 107,
 'inception4a_branch4_1_relu': 108,
 'inception4a_branch4_1_relu_2_cat_2': 109,
 'cat_2': 110,
 'cat_2_2_inception4b_branch1_conv': 111,
 'cat_2_2_inception4b_branch2_0_conv': 112,
 'cat_2_2_inception4b_branch3_0_conv': 113,
 'cat_2_2_inception4b_branch4_0': 114,
 'inception4b_branch1_conv': 115,
 'inception4b_branch1_conv_2_inception4b_branch1_relu': 116,
 'inception4b_branch1_relu': 117,
 'inception4b_branch1_relu_2_cat_3': 118,
 'inception4b_branch2_0_conv': 119,
 'inception4b_branch2_0_conv_2_inception4b_branch2_0_relu': 120,
 'inception4b_branch2_0_relu': 121,
 'inception4b_branch2_0_relu_2_inception4b_branch2_1_conv': 122,
 'inception4b_branch2_1_conv': 123,
 'inception4b_branch2_1_conv_2_inception4b_branch2_1_relu': 124,
 'inception4b_branch2_1_relu': 125,
 'inception4b_branch2_1_relu_2_cat_3': 126,
 'inception4b_branch3_0_conv': 127,
 'inception4b_branch3_0_conv_2_inception4b_branch3_0_relu': 128,
 'inception4b_branch3_0_relu': 129,
 'inception4b_branch3_0_relu_2_inception4b_branch3_1_conv': 130,
 'inception4b_branch3_1_conv': 131,
 'inception4b_branch3_1_conv_2_inception4b_branch3_1_relu': 132,
 'inception4b_branch3_1_relu': 133,
 'inception4b_branch3_1_relu_2_cat_3': 134,
 'inception4b_branch4_0': 135,
 'inception4b_branch4_0_2_inception4b_branch4_1_conv': 136,
 'inception4b_branch4_1_conv': 137,
 'inception4b_branch4_1_conv_2_inception4b_branch4_1_relu': 138,
 'inception4b_branch4_1_relu': 139,
 'inception4b_branch4_1_relu_2_cat_3': 140,
 'cat_3': 141,
 'cat_3_2_inception4c_branch1_conv': 142,
 'cat_3_2_inception4c_branch2_0_conv': 143,
 'cat_3_2_inception4c_branch3_0_conv': 144,
 'cat_3_2_inception4c_branch4_0': 145,
 'inception4c_branch1_conv': 146,
 'inception4c_branch1_conv_2_inception4c_branch1_relu': 147,
 'inception4c_branch1_relu': 148,
 'inception4c_branch1_relu_2_cat_4': 149,
 'inception4c_branch2_0_conv': 150,
 'inception4c_branch2_0_conv_2_inception4c_branch2_0_relu': 151,
 'inception4c_branch2_0_relu': 152,
 'inception4c_branch2_0_relu_2_inception4c_branch2_1_conv': 153,
 'inception4c_branch2_1_conv': 154,
 'inception4c_branch2_1_conv_2_inception4c_branch2_1_relu': 155,
 'inception4c_branch2_1_relu': 156,
 'inception4c_branch2_1_relu_2_cat_4': 157,
 'inception4c_branch3_0_conv': 158,
 'inception4c_branch3_0_conv_2_inception4c_branch3_0_relu': 159,
 'inception4c_branch3_0_relu': 160,
 'inception4c_branch3_0_relu_2_inception4c_branch3_1_conv': 161,
 'inception4c_branch3_1_conv': 162,
 'inception4c_branch3_1_conv_2_inception4c_branch3_1_relu': 163,
 'inception4c_branch3_1_relu': 164,
 'inception4c_branch3_1_relu_2_cat_4': 165,
 'inception4c_branch4_0': 166,
 'inception4c_branch4_0_2_inception4c_branch4_1_conv': 167,
 'inception4c_branch4_1_conv': 168,
 'inception4c_branch4_1_conv_2_inception4c_branch4_1_relu': 169,
 'inception4c_branch4_1_relu': 170,
 'inception4c_branch4_1_relu_2_cat_4': 171,
 'cat_4': 172,
 'cat_4_2_inception4d_branch1_conv': 173,
 'cat_4_2_inception4d_branch2_0_conv': 174,
 'cat_4_2_inception4d_branch3_0_conv': 175,
 'cat_4_2_inception4d_branch4_0': 176,
 'inception4d_branch1_conv': 177,
 'inception4d_branch1_conv_2_inception4d_branch1_relu': 178,
 'inception4d_branch1_relu': 179,
 'inception4d_branch1_relu_2_cat_5': 180,
 'inception4d_branch2_0_conv': 181,
 'inception4d_branch2_0_conv_2_inception4d_branch2_0_relu': 182,
 'inception4d_branch2_0_relu': 183,
 'inception4d_branch2_0_relu_2_inception4d_branch2_1_conv': 184,
 'inception4d_branch2_1_conv': 185,
 'inception4d_branch2_1_conv_2_inception4d_branch2_1_relu': 186,
 'inception4d_branch2_1_relu': 187,
 'inception4d_branch2_1_relu_2_cat_5': 188,
 'inception4d_branch3_0_conv': 189,
 'inception4d_branch3_0_conv_2_inception4d_branch3_0_relu': 190,
 'inception4d_branch3_0_relu': 191,
 'inception4d_branch3_0_relu_2_inception4d_branch3_1_conv': 192,
 'inception4d_branch3_1_conv': 193,
 'inception4d_branch3_1_conv_2_inception4d_branch3_1_relu': 194,
 'inception4d_branch3_1_relu': 195,
 'inception4d_branch3_1_relu_2_cat_5': 196,
 'inception4d_branch4_0': 197,
 'inception4d_branch4_0_2_inception4d_branch4_1_conv': 198,
 'inception4d_branch4_1_conv': 199,
 'inception4d_branch4_1_conv_2_inception4d_branch4_1_relu': 200,
 'inception4d_branch4_1_relu': 201,
 'inception4d_branch4_1_relu_2_cat_5': 202,
 'cat_5': 203,
 'cat_5_2_inception4e_branch1_conv': 204,
 'cat_5_2_inception4e_branch2_0_conv': 205,
 'cat_5_2_inception4e_branch3_0_conv': 206,
 'cat_5_2_inception4e_branch4_0': 207,
 'inception4e_branch1_conv': 208,
 'inception4e_branch1_conv_2_inception4e_branch1_relu': 209,
 'inception4e_branch1_relu': 210,
 'inception4e_branch1_relu_2_cat_6': 211,
 'inception4e_branch2_0_conv': 212,
 'inception4e_branch2_0_conv_2_inception4e_branch2_0_relu': 213,
 'inception4e_branch2_0_relu': 214,
 'inception4e_branch2_0_relu_2_inception4e_branch2_1_conv': 215,
 'inception4e_branch2_1_conv': 216,
 'inception4e_branch2_1_conv_2_inception4e_branch2_1_relu': 217,
 'inception4e_branch2_1_relu': 218,
 'inception4e_branch2_1_relu_2_cat_6': 219,
 'inception4e_branch3_0_conv': 220,
 'inception4e_branch3_0_conv_2_inception4e_branch3_0_relu': 221,
 'inception4e_branch3_0_relu': 222,
 'inception4e_branch3_0_relu_2_inception4e_branch3_1_conv': 223,
 'inception4e_branch3_1_conv': 224,
 'inception4e_branch3_1_conv_2_inception4e_branch3_1_relu': 225,
 'inception4e_branch3_1_relu': 226,
 'inception4e_branch3_1_relu_2_cat_6': 227,
 'inception4e_branch4_0': 228,
 'inception4e_branch4_0_2_inception4e_branch4_1_conv': 229,
 'inception4e_branch4_1_conv': 230,
 'inception4e_branch4_1_conv_2_inception4e_branch4_1_relu': 231,
 'inception4e_branch4_1_relu': 232,
 'inception4e_branch4_1_relu_2_cat_6': 233,
 'cat_6': 234,
 'cat_6_2_maxpool4': 235,
 'maxpool4': 236,
 'maxpool4_2_inception5a_branch1_conv': 237,
 'maxpool4_2_inception5a_branch2_0_conv': 238,
 'maxpool4_2_inception5a_branch3_0_conv': 239,
 'maxpool4_2_inception5a_branch4_0': 240,
 'inception5a_branch1_conv': 241,
 'inception5a_branch1_conv_2_inception5a_branch1_relu': 242,
 'inception5a_branch1_relu': 243,
 'inception5a_branch1_relu_2_cat_7': 244,
 'inception5a_branch2_0_conv': 245,
 'inception5a_branch2_0_conv_2_inception5a_branch2_0_relu': 246,
 'inception5a_branch2_0_relu': 247,
 'inception5a_branch2_0_relu_2_inception5a_branch2_1_conv': 248,
 'inception5a_branch2_1_conv': 249,
 'inception5a_branch2_1_conv_2_inception5a_branch2_1_relu': 250,
 'inception5a_branch2_1_relu': 251,
 'inception5a_branch2_1_relu_2_cat_7': 252,
 'inception5a_branch3_0_conv': 253,
 'inception5a_branch3_0_conv_2_inception5a_branch3_0_relu': 254,
 'inception5a_branch3_0_relu': 255,
 'inception5a_branch3_0_relu_2_inception5a_branch3_1_conv': 256,
 'inception5a_branch3_1_conv': 257,
 'inception5a_branch3_1_conv_2_inception5a_branch3_1_relu': 258,
 'inception5a_branch3_1_relu': 259,
 'inception5a_branch3_1_relu_2_cat_7': 260,
 'inception5a_branch4_0': 261,
 'inception5a_branch4_0_2_inception5a_branch4_1_conv': 262,
 'inception5a_branch4_1_conv': 263,
 'inception5a_branch4_1_conv_2_inception5a_branch4_1_relu': 264,
 'inception5a_branch4_1_relu': 265,
 'inception5a_branch4_1_relu_2_cat_7': 266,
 'cat_7': 267,
 'cat_7_2_inception5b_branch1_conv': 268,
 'cat_7_2_inception5b_branch2_0_conv': 269,
 'cat_7_2_inception5b_branch3_0_conv': 270,
 'cat_7_2_inception5b_branch4_0': 271,
 'inception5b_branch1_conv': 272,
 'inception5b_branch1_conv_2_inception5b_branch1_relu': 273,
 'inception5b_branch1_relu': 274,
 'inception5b_branch1_relu_2_cat_8': 275,
 'inception5b_branch2_0_conv': 276,
 'inception5b_branch2_0_conv_2_inception5b_branch2_0_relu': 277,
 'inception5b_branch2_0_relu': 278,
 'inception5b_branch2_0_relu_2_inception5b_branch2_1_conv': 279,
 'inception5b_branch2_1_conv': 280,
 'inception5b_branch2_1_conv_2_inception5b_branch2_1_relu': 281,
 'inception5b_branch2_1_relu': 282,
 'inception5b_branch2_1_relu_2_cat_8': 283,
 'inception5b_branch3_0_conv': 284,
 'inception5b_branch3_0_conv_2_inception5b_branch3_0_relu': 285,
 'inception5b_branch3_0_relu': 286,
 'inception5b_branch3_0_relu_2_inception5b_branch3_1_conv': 287,
 'inception5b_branch3_1_conv': 288,
 'inception5b_branch3_1_conv_2_inception5b_branch3_1_relu': 289,
 'inception5b_branch3_1_relu': 290,
 'inception5b_branch3_1_relu_2_cat_8': 291,
 'inception5b_branch4_0': 292,
 'inception5b_branch4_0_2_inception5b_branch4_1_conv': 293,
 'inception5b_branch4_1_conv': 294,
 'inception5b_branch4_1_conv_2_inception5b_branch4_1_relu': 295,
 'inception5b_branch4_1_relu': 296,
 'inception5b_branch4_1_relu_2_cat_8': 297,
 'cat_8': 298,
 'cat_8_2_avgpool': 299,
 'avgpool': 300,
 'avgpool_2_flatten': 301,
 'flatten': 302,
 'flatten_2_dropout': 303,
 'dropout': 304,
 'dropout_2_fc': 305,
 'fc': 306}

In [203]:
df['task'] = df['task'].map(name_map)

In [204]:
df

,task,c_task,dir_succ,dir_succ_add,p0,p1,p2,p3,pc00,pc01,...,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3,shape
0,0,NaN,conv1_conv,conv1_conv,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63541248.0,62581760.0,29089792.0,26926080.0,"(1, 1, 96, 96)"
1,1,conv1_conv_2_conv1_relu,conv1_relu,"conv1_relu, conv1_conv_2_conv1_relu",0.014,0.044,0.045,0.022,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
2,3,conv1_relu_2_maxpool1,maxpool1,"maxpool1, conv1_relu_2_maxpool1",0.002,0.005,0.006,0.004,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
3,5,maxpool1_2_conv2_conv,conv2_conv,"conv2_conv, maxpool1_2_conv2_conv",0.004,0.009,0.009,0.005,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
4,7,conv2_conv_2_conv2_relu,conv2_relu,"conv2_relu, conv2_conv_2_conv2_relu",0.008,0.019,0.020,0.012,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,298,cat_8_2_avgpool,avgpool,"avgpool, cat_8_2_avgpool",0.003,0.007,0.006,0.003,0.0,0.003160,...,0.000301,0.005867,0.003437,0.0,288.0,NaN,NaN,NaN,NaN,"(1, 1024, 3, 3)"
137,300,avgpool_2_flatten,flatten,"flatten, avgpool_2_flatten",0.003,0.006,0.006,0.003,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024, 1, 1)"
138,302,flatten_2_dropout,dropout,"dropout, flatten_2_dropout",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
139,304,dropout_2_fc,fc,"fc, dropout_2_fc",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
140,306,NaN,NaN,NaN,0.008,0.025,0.024,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1, 1000)"

In [205]:
def mapper_c_task(x):
    if type(x) == float:
        return
    elif "," in x:
        return ",".join([str(name_map[i.strip()]) for i in x.split(",")])
    else:
        return name_map[x]

In [206]:
df['c_task'] = df['c_task'].apply(mapper_c_task)
df['dir_succ'] = df['dir_succ'].apply(mapper_c_task)
df['dir_succ_add'] = df['dir_succ_add'].apply(mapper_c_task)

In [207]:
df

,task,c_task,dir_succ,dir_succ_add,p0,p1,p2,p3,pc00,pc01,...,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3,shape
0,0,None,1,1,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63541248.0,62581760.0,29089792.0,26926080.0,"(1, 1, 96, 96)"
1,1,2,3,"3,2",0.014,0.044,0.045,0.022,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
2,3,4,5,"5,4",0.002,0.005,0.006,0.004,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,"(1, 64, 48, 48)"
3,5,6,7,"7,6",0.004,0.009,0.009,0.005,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
4,7,8,9,"9,8",0.008,0.019,0.020,0.012,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,"(1, 64, 24, 24)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,298,299,300,"300,299",0.003,0.007,0.006,0.003,0.0,0.003160,...,0.000301,0.005867,0.003437,0.0,288.0,NaN,NaN,NaN,NaN,"(1, 1024, 3, 3)"
137,300,301,302,"302,301",0.003,0.006,0.006,0.003,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024, 1, 1)"
138,302,303,304,"304,303",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
139,304,305,306,"306,305",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,"(1, 1024)"
140,306,None,None,None,0.008,0.025,0.024,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1, 1000)"

In [208]:
df = df.loc[:,df.columns[:-1]]

In [209]:
df

,task,c_task,dir_succ,dir_succ_add,p0,p1,p2,p3,pc00,pc01,...,pc23,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3
0,0,None,1,1,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,63541248.0,62581760.0,29089792.0,26926080.0
1,1,2,3,"3,2",0.014,0.044,0.045,0.022,0.0,0.050562,...,0.060000,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN
2,3,4,5,"5,4",0.002,0.005,0.006,0.004,0.0,0.050562,...,0.060000,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN
3,5,6,7,"7,6",0.004,0.009,0.009,0.005,0.0,0.012640,...,0.015000,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN
4,7,8,9,"9,8",0.008,0.019,0.020,0.012,0.0,0.012640,...,0.015000,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,298,299,300,"300,299",0.003,0.007,0.006,0.003,0.0,0.003160,...,0.003750,0.000301,0.005867,0.003437,0.0,288.0,NaN,NaN,NaN,NaN
137,300,301,302,"302,301",0.003,0.006,0.006,0.003,0.0,0.000351,...,0.000417,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN
138,302,303,304,"304,303",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000417,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN
139,304,305,306,"306,305",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000417,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN
140,306,None,None,None,0.008,0.025,0.024,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   task          141 non-null    int64
 1   c_task        139 non-null    object
 2   dir_succ      140 non-null    object
 3   dir_succ_add  140 non-null    object
 4   p0            141 non-null    float64
 5   p1            141 non-null    float64
 6   p2            141 non-null    float64
 7   p3            141 non-null    float64
 8   pc00          139 non-null    float64
 9   pc01          139 non-null    float64
 10  pc02          139 non-null    float64
 11  pc03          139 non-null    float64
 12  pc10          139 non-null    float64
 13  pc11          139 non-null    float64
 14  pc12          139 non-null    float64
 15  pc13          139 non-null    float64
 16  pc20          139 non-null    float64
 17  pc21          139 non-null    float64
 18  pc22          139 non-null    float64
 19  pc23          139 non-null    float64
 20  pc30          139 non-null    float64
 21  pc31          139 non-null    float64
 22  pc32          139 non-null    float64
 23  pc33          139 non-null    float64
 24  mi            139 non-null    float64
 25  m0            1 non-null      float64
 26  m1            1 non-null      float64
 27  m2            1 non-null      float64
 28  m3            1 non-null      float64
dtypes: float64(25), int64(1), object(3)
memory usage: 32.1+ KB

In [212]:
def get_count(x):
    if type(x)!=str:
        return 1
    elif type(x) == float:
        return 
    else:
        return len(x.split(","))

In [213]:
df['count'] = df['c_task'].apply(get_count)

In [214]:
df

,task,c_task,dir_succ,dir_succ_add,p0,p1,p2,p3,pc00,pc01,...,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3,count
0,0,None,1,1,0.000,0.000,0.000,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63541248.0,62581760.0,29089792.0,26926080.0,1
1,1,2,3,"3,2",0.014,0.044,0.045,0.022,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,1
2,3,4,5,"5,4",0.002,0.005,0.006,0.004,0.0,0.050562,...,0.004823,0.093874,0.054999,0.0,4608.0,NaN,NaN,NaN,NaN,1
3,5,6,7,"7,6",0.004,0.009,0.009,0.005,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,1
4,7,8,9,"9,8",0.008,0.019,0.020,0.012,0.0,0.012640,...,0.001206,0.023469,0.013750,0.0,1152.0,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,298,299,300,"300,299",0.003,0.007,0.006,0.003,0.0,0.003160,...,0.000301,0.005867,0.003437,0.0,288.0,NaN,NaN,NaN,NaN,1
137,300,301,302,"302,301",0.003,0.006,0.006,0.003,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,1
138,302,303,304,"304,303",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,1
139,304,305,306,"306,305",0.000,0.000,0.000,0.000,0.0,0.000351,...,0.000033,0.000652,0.000382,0.0,32.0,NaN,NaN,NaN,NaN,1
140,306,None,None,None,0.008,0.025,0.024,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [216]:
def transfer(x):
    tl = x.split("|")
    if tl[1] == 1:
        return tl[0]
    else:
        res = []
        for i in range(int(tl[1])):
            res.append(str(np.round(float(tl[0]),5)))
        return ",".join(res)

In [217]:
df['count'] = df['count'].apply(str)

In [218]:
for col in df.columns[8:24]:
    df[col] = df[col].apply(str)
    df[col] = df[col] + "|" + df['count']
    df[col] = df[col].apply(transfer)

In [219]:
df.iloc[[type(i)==str for i in df['c_task']],range(8,30)]

,pc00,pc01,pc02,pc03,pc10,pc11,pc12,pc13,pc20,pc21,...,pc30,pc31,pc32,pc33,mi,m0,m1,m2,m3,count
8,"0.0,0.0,0.0,0.0","0.00948,0.00948,0.00948,0.00948","0.00686,0.00686,0.00686,0.00686","0.0009,0.0009,0.0009,0.0009","0.01275,0.01275,0.01275,0.01275","0.0,0.0,0.0,0.0","0.02344,0.02344,0.02344,0.02344","0.01298,0.01298,0.01298,0.01298","0.00721,0.00721,0.00721,0.00721","0.02095,0.02095,0.02095,0.02095",...,"0.0009,0.0009,0.0009,0.0009","0.0176,0.0176,0.0176,0.0176","0.01031,0.01031,0.01031,0.01031","0.0,0.0,0.0,0.0",864.0,NaN,NaN,NaN,NaN,4
22,"0.0,0.0,0.0,0.0","0.01264,0.01264,0.01264,0.01264","0.00915,0.00915,0.00915,0.00915","0.0012,0.0012,0.0012,0.0012","0.017,0.017,0.017,0.017","0.0,0.0,0.0,0.0","0.03125,0.03125,0.03125,0.03125","0.01731,0.01731,0.01731,0.01731","0.00962,0.00962,0.00962,0.00962","0.02794,0.02794,0.02794,0.02794",...,"0.00121,0.00121,0.00121,0.00121","0.02347,0.02347,0.02347,0.02347","0.01375,0.01375,0.01375,0.01375","0.0,0.0,0.0,0.0",1152.0,NaN,NaN,NaN,NaN,4
37,"0.0,0.0,0.0,0.0","0.00593,0.00593,0.00593,0.00593","0.00429,0.00429,0.00429,0.00429","0.00056,0.00056,0.00056,0.00056","0.00797,0.00797,0.00797,0.00797","0.0,0.0,0.0,0.0","0.01465,0.01465,0.01465,0.01465","0.00811,0.00811,0.00811,0.00811","0.00451,0.00451,0.00451,0.00451","0.0131,0.0131,0.0131,0.0131",...,"0.00057,0.00057,0.00057,0.00057","0.011,0.011,0.011,0.011","0.00645,0.00645,0.00645,0.00645","0.0,0.0,0.0,0.0",540.0,NaN,NaN,NaN,NaN,4
51,"0.0,0.0,0.0,0.0","0.00632,0.00632,0.00632,0.00632","0.00457,0.00457,0.00457,0.00457","0.0006,0.0006,0.0006,0.0006","0.0085,0.0085,0.0085,0.0085","0.0,0.0,0.0,0.0","0.01562,0.01562,0.01562,0.01562","0.00865,0.00865,0.00865,0.00865","0.00481,0.00481,0.00481,0.00481","0.01397,0.01397,0.01397,0.01397",...,"0.0006,0.0006,0.0006,0.0006","0.01173,0.01173,0.01173,0.01173","0.00687,0.00687,0.00687,0.00687","0.0,0.0,0.0,0.0",576.0,NaN,NaN,NaN,NaN,4
65,"0.0,0.0,0.0,0.0","0.00632,0.00632,0.00632,0.00632","0.00457,0.00457,0.00457,0.00457","0.0006,0.0006,0.0006,0.0006","0.0085,0.0085,0.0085,0.0085","0.0,0.0,0.0,0.0","0.01562,0.01562,0.01562,0.01562","0.00865,0.00865,0.00865,0.00865","0.00481,0.00481,0.00481,0.00481","0.01397,0.01397,0.01397,0.01397",...,"0.0006,0.0006,0.0006,0.0006","0.01173,0.01173,0.01173,0.01173","0.00687,0.00687,0.00687,0.00687","0.0,0.0,0.0,0.0",576.0,NaN,NaN,NaN,NaN,4
79,"0.0,0.0,0.0,0.0","0.00632,0.00632,0.00632,0.00632","0.00457,0.00457,0.00457,0.00457","0.0006,0.0006,0.0006,0.0006","0.0085,0.0085,0.0085,0.0085","0.0,0.0,0.0,0.0","0.01562,0.01562,0.01562,0.01562","0.00865,0.00865,0.00865,0.00865","0.00481,0.00481,0.00481,0.00481","0.01397,0.01397,0.01397,0.01397",...,"0.0006,0.0006,0.0006,0.0006","0.01173,0.01173,0.01173,0.01173","0.00687,0.00687,0.00687,0.00687","0.0,0.0,0.0,0.0",576.0,NaN,NaN,NaN,NaN,4
93,"0.0,0.0,0.0,0.0","0.00652,0.00652,0.00652,0.00652","0.00472,0.00472,0.00472,0.00472","0.00062,0.00062,0.00062,0.00062","0.00876,0.00876,0.00876,0.00876","0.0,0.0,0.0,0.0","0.01611,0.01611,0.01611,0.01611","0.00892,0.00892,0.00892,0.00892","0.00496,0.00496,0.00496,0.00496","0.01441,0.01441,0.01441,0.01441",...,"0.00062,0.00062,0.00062,0.00062","0.0121,0.0121,0.0121,0.0121","0.00709,0.00709,0.00709,0.00709","0.0,0.0,0.0,0.0",594.0,NaN,NaN,NaN,NaN,4
108,"0.0,0.0,0.0,0.0","0.00257,0.00257,0.00257,0.00257","0.00186,0.00186,0.00186,0.00186","0.00024,0.00024,0.00024,0.00024","0.00345,0.00345,0.00345,0.00345","0.0,0.0,0.0,0.0","0.00635,0.00635,0.00635,0.00635","0.00352,0.00352,0.00352,0.00352","0.00195,0.00195,0.00195,0.00195","0.00567,0.00567,0.00567,0.00567",...,"0.00024,0.00024,0.00024,0.00024","0.00477,0.00477,0.00477,0.00477","0.00279,0.00279,0.00279,0.00279","0.0,0.0,0.0,0.0",234.0,NaN,NaN,NaN,NaN,4
122,"0.0,0.0,0.0,0.0","0.00257,0.00257,0.00257,0.00257","0.00186,0.00186,0.00186,0.00186","0.00024,0.00024,0.00024,0.00024","0.00345,0.00345,0.00345,0.00345","0.0,0.0,0.0,0.0","0.00635,0.00635,0.00635,0.00635","0.00352,0.00352,0.00352,0.00352","0.00195,0.00195,0.00195,0.00195","0.00567,0.00567,0.00567,0.00567",...,"0.00024,0.00024,0.00024,0.00024","0.00477,0.00477,0.00477,0.00477","0.00279,0.00279,0.00279,0.00279","0.0,0.0,0.0,0.0",234.0,NaN,NaN,NaN,NaN,4

In [220]:
df = df.loc[:,df.columns[:-1]]

In [221]:
df.to_excel("D:/wangds/dataset/network.xls")

C:\Users\ZJ\AppData\Local\Temp/ipykernel_5000/2207807100.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel("D:/wangds/dataset/network.xls")